#marcasPorPagina{
    margin-right: 10px;
}
#infoPagActual{
    margin-right: 10px;
    margin-left: 10px;
}
#ordenarPorNombre,#ordenarPorMarca,#ordenarPorModelo,#ordenarPorDescripcion,#ordenarPorFecha{
    margin-right: 5px;
}
#filtros{
    margin-top: 15px;
    margin-bottom: 15px;
}